* {
    margin: 0;
    padding: 0;

}

body  {
    font-family: 'Josefin Slab', serif;
    display: flex;
    
    height: 100vh;
    background: black;
    align-items: center;
    justify-content: center;
    --nav-link-load-time:500ms;
}



#container {
    width: 100%;
    height: 130vh;
    background:  linear-gradient(rgba(0,0,0, .6),rgba(0, 0 , 0, .3)),
     url(images/1.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: fadeIn 10s;
    -webkit-animation: fadeIn 10s;
    -moz-animation: fadeIn 10s;
    -o-animation: fadeIn 10s;
    -ms-animation: fadeIn 5s;
    


}


@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

 
.card {
    width: 350px;
    height: 550px;
    position: relative;
    perspective: 1000px;

}


.sides {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.left-side {
    position: absolute;
    top: 0;
    left: 0;
    background-color: green;
    background:  linear-gradient(rgba(0,0,0, .5),rgba(0, 0 , 0, .7)),
     url(images/2.jpg) no-repeat;
    background-size: cover;
    text-align: right;
    background-position-x:0 ;
    width: 50%;
    height: 100%;
    transform: rotateY(0deg);
    transform-origin: left;
    transition: transform 2s;
}

.right-side {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    background:  linear-gradient(rgba(0,0,0, .5),rgba(0, 0 , 0, .7)),
     url(images/2.jpg) no-repeat;
    background-size: cover;
    background-position-x:-180px ;
    width: 50%;
    height: 100%;
    transform: rotateY(0);
    transform-origin: right;
    transition: transform 2s;
    text-align: left;
}

.back-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: chocolate;
    background:  linear-gradient(rgba(0,0,0, .6),rgba(0, 0 , 0, .7)),
     url(images/3.jpg) center no-repeat;
    background-size: cover;
    z-index: -1;
    transform:translateZ(-300px) ;
    transition: z-idex .4s step-end, transform 1s;
    box-shadow: 15;
    box-shadow: 40px 40px 80px #000;
}


.card:hover .left-side{
    transform: rotateY(-360deg);
}

.card:hover .right-side{
    transform: rotateY(360deg);
    text-align: right;
}

.card:hover .back-side{
    transform: translateZ(0);
    z-index: 1;
    box-shadow: 50px 50px 100px #000;
}
.name {
    color: #fff;
    font-size: 20px;
    margin: 20px 5px;
}

.profession {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 20px 5px;
    
}

.left-side .name
.left-side .profession {
    text-align: right;
}


.biography {
    color:rgb(201, 192, 192);
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.4) ;
    width: 90%;
    text-align: center;
    padding: 10px;
}

button{
    position: relative;
    height: 60px;
    width: 200px;
    top: 580px;
    right: -70px;
    border: none;
    outline: none;
    color: white;
    background: #111;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
  }
  button:before{
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate 20s linear infinite;
  }
  button:hover:before{
    opacity: 1;
  }
  button:hover:active{
    background: none;
  }
  button:hover:active:before{
    filter: blur(2px);
  }
  @keyframes animate {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }